* {
    box-sizing: border-box;
    color: rgb(234, 57, 36);
    color: rgb(234, 51, 94);
    color: rgb(241, 155, 56);
    color: rgb(255, 253, 84);
    color: rgb(193,215,77);
    color: rgb(125, 251, 76);
    color: rgb(117, 251, 122);
    color: rgb(117,251,183);
    color: rgb(88, 193, 249);
    color: rgb(118, 21, 245);
    color: rgb(230, 50, 246);
}

label {
    color: white;
    font-size: 1.5rem;
}

input {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

body {
    background-color: rgb(38, 134, 252);
    font-family: Trebuchet MS;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
}

.winStatus, .points {
    background-color: rgb(234, 57, 36);
    border: dotted 5px gold;
    border-radius: 25px;
    width: 100%;
    height: 70px;
    min-height: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: page-load 1s ease-in;
    animation-fill-mode: forwards;
    transform: scale(0);
}

h3 {
    color: rgb(255, 253, 84);
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div:has(#sign) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    animation: page-load 1s ease-out;
    animation-fill-mode: forwards;
    transform: scale(0);
}

#coreContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
    animation-fill-mode: forwards;
    animation: page-load 1s ease-out;
}

@keyframes page-load {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}


#lever {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#lever > img {
    height: 200px;
    width: 200px;
}

.container {
    background-color: gold;
    border: solid 5px rgb(88, 193, 249);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 500px;
    
}

.icons {
    width: 100px;
    animation: spin-slot 1s ease-in-out 1s;
    
}

@keyframes spin-slot {
    0% {
        transform: translateY(-50%);
    }
    66% {
        transform: translateY(50%);
    }
}

#slot1, #slot2, #slot3 {
    margin: -100px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border: solid 5px rgb(255, 253, 84);
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spinningSlot1 {
    animation: mid-spin .5s ease-in-out infinite;
}

.spinningSlot2 {
    animation: mid-spin .25s ease-in-out infinite;
}

.spinningSlot3 {
    animation: mid-spin .1s ease-in-out infinite;
}

@keyframes mid-spin {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(-66%)
    }
    30% {
        transform: translateY(-33%)
    }
    45% {
        transform: translateY(-5%)
    }
    60% {
        transform: translateY(5%);
    }
    75% {
        transform: translateY(33%)
    }
    90% {
        transform: translateY(66%)
    }
    100% {
        transform: translateY(100%);
    }
}

.effects-container {
    user-select: none;
    pointer-events: none;
    z-index: 10;
}
  
.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
}

.confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: gold;
    transform: rotate(140deg);
}

.confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: greenyellow;
}

.confetti .hexagram {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid pink;
    position: relative;
}
  
  .confetti .hexagram:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid pink;
    position: absolute;
    top: 0.33rem;
    left: -0.5rem;
}

.confetti .pentagram {
    width: 0rem;
    height: 0rem;
    display: block;
    margin: 0.5rem 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid red;
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    position: relative;
}
.confetti .pentagram:before {
    border-bottom: 0.8rem solid red;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45rem;
    left: -0.65rem;
    display: block;
    content: "";
    transform: rotate(-35deg);
}
.confetti .pentagram:after {
    position: absolute;
    display: block;
    color: var(--bg);
    top: 0.03rem;
    left: -1.05rem;
    width: 0rem;
    height: 0rem;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid red;
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.confetti .dodecagram {
    background: magenta;
    width: 8px;
    height: 8px;
    position: relative;
}
  
.confetti .dodecagram:before {
    content: "";
    height: 8px;
    width: 8px;
    background: magenta;
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    left: 0;
}

.confetti .dodecagram:after {
    content: "";
    height: 8px;
    width: 8px;
    background: magenta;
    transform: rotate(60deg);
    position: absolute;
    top: 0;
    left: 0;
}

.confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: calc(60s / var(--speed));
}
  
.confetti i:nth-child(even) {
    transform: rotate(90deg);
}
  
@keyframes confetti {
    0% {
      transform: translateY(-100vh);
    }
  
    100% {
      transform: translateY(100vh);
    }
}

.loseEffect {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loseEffect .loser {
    background-image: url('../slot_machine_images/loser.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 750px;
}

.loseEffect i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: loser;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: calc(10s / var(--speed));
}

@keyframes loser {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

